#head_content {
    text-align: center;
    background-color: #0b3b3f;
    padding-top: 5%;
    padding-bottom: 3%;
    margin-bottom: 5%;
    color: white;
}

.title {
    font-family: 'Noto Serif', serif;
    font-size: 40pt;
    font-weight: bolder;
    margin-bottom: 10px;
}

#sub_sentence {
    font-size: 16pt;
    margin-top: 15px;
}

#feature_title {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #457bcc;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    font-family:"Meiryo UI",sans-serif;;
}

.list_dot {
    color: #ffbe46;
    padding: 5px;
    font-size: 15pt;
}

.explanation {
    font-weight: bold;
}

.sub_explanation {
    margin-top: 12px;
    padding: 5px;
}

.features {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 2%;
}

.mark {
    background: linear-gradient(transparent 70%, #f6ff5f 70%);
}

.data {
    padding: 1%;
}

input[type=radio] {
    width: 20pt;
    height: 20pt;
}

.form-check-inline {
    font-size: 0;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    border: thin solid lightgray;
    table-layout: fixed;
    word-break: break-all;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

tr {
    border-bottom: thin solid lightgray !important;
}

.table_head {
    height: 3em;
}

.head_question {
    color: white;
    text-align: center;
    width: 50%;
    float: left;
}

.head_choice {
    color: white;
    width: 50%;
    padding: 0 1%;
    float: right;
}

#accurate {
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    padding-right: 5%;
    width: 30%;
}

#neutral {
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    padding-left: 5%;
    width: 30%;
}

#inaccurate {
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    padding-left: 9%;
    width: 30%;
}

.question_number {
    float: left;
    text-align: center;
    width: 3%;
}

.question {
    float: left;
    text-align: left;
    padding-left: 3%;
    width: 47%;
    font-weight: 100;
}

.choices {
    float: left;
    width: 50%;
}

table th {
    background-color: #457bcc;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table_element {
    height: 5em;
}

.accurate_sm {
    text-align: center;
    padding-right: 8%;
    font-size: 9pt;
    float: left;
    display: none;
}

.neutral_sm {
    text-align: center;
    font-size: 9pt;
    float: left;
    display: none;
}

.inaccurate_sm {
    text-align: center;
    padding-left: 10%;
    font-size: 9pt;
    float: left;
    display: none;
}

@media (max-width: 992px) {
    .head_question, .head_choice {
        display: none;
    }
    .table_head {
        height: 2em;
        background-color: #457bcc;
    }
    .table_element {
        height: 10em;
    }
    .question_number {
        display: none;
    }
    .question {
        font-size: 15pt;
        padding-left: 0;
        text-align: center;
        padding-bottom: 1.5em;
        width: 100%;
    }
    .choices {
        padding-bottom: 0.5em;
        width: 100%;
        /*float: none;*/
    }
    table th {
        position: static;
    }
    tr {
        height: 2em;
    }
    .accurate_sm {
        display: inline-block;
        width: 33%;
    }
    .neutral_sm {
        display: inline-block;
        width: 33%;
    }
    .inaccurate_sm {
        display: inline-block;
        width: 33%;
    }
}

.odd {
    background-color: #f5f5f5 !important;
}

.even {
    background-color: #ffffff !important;
}

@media (max-width: 576px) {
    .table {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

.result_button {
    width: 120pt;
    margin-bottom: 140px;
}


/* for result.html*/

#result {
    background-color: whitesmoke;
    margin-bottom: 100px;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: cover;
}

h4 {
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    #result {
        flex-wrap: wrap;
    }
}

.header {
    border-top: solid gray;
}

.result_heading {
    text-align: center;
    color: #457bcc;
}

.foot_content {
    max-width: 70%;
    margin-bottom: 90px;
}

.recom_list {
    padding-top: 5px;
}

.return_button {
    width: 150px;
    margin-bottom: 50px;
}
