{% extends 'base.html' %}

{% block content %}
<div class="container" id="feature_title">
    <h3>
        この性格診断の特徴
    </h3>
</div>

<div class="container features">
    <h4 class="explanation"><span class="list_dot">●</span>あなたの性格を2つの軸でシンプルに表現します</h4>
    <p class="sub_explanation">
        この性格診断ではあなたの回答をもとにあなたの性格を、
    <ul><li>フットワークの軽さ（慎重さ）</li><li>論理をどれくらい重要視するか（情動をどれくらい重要視するか）</li></ul>
    という<span class="mark">2つの軸によって評価します。</span>
    </p>
</div>

<div class="container features">
    <h4 class="explanation"><span class="list_dot">●</span>あなたの性格を統計的に分析します</h4>
    <p class="sub_explanation">
        この性格診断は経験則ではなく、<span class="mark">適切な統計的手法をもとにあなたの性格を分析します。</span>なお、この性格診断の分析には下記のオープンデータソースを用いています。
    </p>
    <div class="sub_explanation container">
        <div class="row data">
            <div class="col-sm-2 link_title">
                データ置き場：
            </div>
            <a class="col" href="http://openpsychometrics.org/_rawdata">Open-Source Psychometrics Project</a>
        </div>
        <div class="row data">
            <div class="col-sm-2 link_title">
                生データファイル：
            </div>
            <a class="col" href="http://openpsychometrics.org/_rawdata/OHBDS-data.zip">OHBDS-data.zip</a>
        </div>
    </div>
</div>

<form method="POST" action="">{% csrf_token %}
    <div class="container table">
        <table>
            <thead>
            <tr class="table_head">
                <th>
                    <div class="head_question">Question</div>
                    <div class="head_choice">
                        <span id="accurate">当てはまる</span>
                        <span id="neutral">どちらでもない</span>
                        <span id="inaccurate">当てはまらない</span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd table_element">
                <td>
                    <div class="question_number">
                        1
                    </div>
                    <div class="question">
                        人から褒められるのが苦手
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer1 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="even table_element">
                <td>
                    <div class="question_number">
                        2
                    </div>
                    <div class="question">
                        図工より数学が好き
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer2 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="odd table_element">
                <td>
                    <div class="question_number">
                        3
                    </div>
                    <div class="question">
                        遅刻はめったにしない
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer3 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="even table_element">
                <td>
                    <div class="question_number">
                        4
                    </div>
                    <div class="question">
                        説明書を読むのが面倒
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer4 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="odd table_element">
                <td>
                    <div class="question_number">
                        5
                    </div>
                    <div class="question">
                        部屋が散らかっていると落ち着かない
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer5 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="even table_element">
                <td>
                    <div class="question_number">
                        6
                    </div>
                    <div class="question">
                        自分は直感的な人間だと思う
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer6 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="odd table_element">
                <td>
                    <div class="question_number">
                        7
                    </div>
                    <div class="question">
                        誰にでも礼儀正しく振る舞う
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer7 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="even table_element">
                <td>
                    <div class="question_number">
                        8
                    </div>
                    <div class="question">
                        新しいアイデアをよく思いつく
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer8 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="odd table_element">
                <td>
                    <div class="question_number">
                        9
                    </div>
                    <div class="question">
                        何が起きてもあまり動じない
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer9 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="even table_element">
                <td>
                    <div class="question_number">
                        10
                    </div>
                    <div class="question">
                        映画を見てもめったに泣かない
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer10 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="odd table_element">
                <td>
                    <div class="question_number">
                        11
                    </div>
                    <div class="question">
                        自分の人生計画についてしっかりと考えている
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer11 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="even table_element">
                <td>
                    <div class="question_number">
                        12
                    </div>
                    <div class="question">
                        感情より事実を優先する
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer12 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="odd table_element">
                <td>
                    <div class="question_number">
                        13
                    </div>
                    <div class="question">
                        やらかし癖がある
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer13 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="even table_element">
                <td>
                    <div class="question_number">
                        14
                    </div>
                    <div class="question">
                        イライラすることが多い
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer14 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="odd table_element">
                <td>
                    <div class="question_number">
                        15
                    </div>
                    <div class="question">
                        自分はロマンチストだと思う
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer15 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="even table_element">
                <td>
                    <div class="question_number">
                        16
                    </div>
                    <div class="question">
                        ロジックが何よりも大切だと思う
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer16 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="odd table_element">
                <td>
                    <div class="question_number">
                        17
                    </div>
                    <div class="question">
                        使ったものを元の場所に戻すのを忘れることがある
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer17 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            <tr class="even table_element">
                <td>
                    <div class="question_number">
                        18
                    </div>
                    <div class="question">
                        緊迫した状況でも落ち着ける
                    </div>
                    <div class="d-flex flex-row bd-highlight choices">
                        　　　 {% for choice in form.answer18 %}
                        <div class="form-check-inline">
                            　　　 {{ choice.tag }}
                        </div>
                        　　　 {% endfor %}
                    </div>
                    <div class="accurate_sm">当てはまる</div>
                    <div class="neutral_sm">どちらでもない</div>
                    <div class="inaccurate_sm">当てはまらない</div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 col-2 mx-auto result_button">
            <button class="btn btn-primary" type="submit">診断する</button>
        </div>
    </div>
</form>


{% endblock content %}